:root {
    --primery-text-color: #212121;
    --additional-text-color-1: #757575;
    --additional-text-color-2: #FFFFFF;
    --additional-text-color-3: rgba(255, 255, 255, 0.6);
    --color-logo: #000000;
    --accent-color: #2196F3;
    --additional-background-color-1: #F5F4FA;
    --additional-background-color-2: #2F303A;

}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}


body {

    color: var(--primery-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

img {
    display: block;
}

/*   основной цвет тескта  #212121 */
/* вторичнный цвет текста #757575 */
/* цвет акцента #2196F3 */
/* вторичный цвет фона 1 #F5F4FA */
/* вторичный цвет фона 2 #2F303A */
/* основной цвет лого  #000000 */
/* дополнительный цвет лого #2196F3 */
/* доп цвет */

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /* outline: 2px solid tomato; */

}

.list {
    list-style: none;
}


/* header section */

.header-container,
.header-nav,
.header-items {
    display: flex;
    align-items: center;
}

.header-logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
    display: block;
}

.logo {

    color: var(--color-logo);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;

}

.text-web {
    color: #2196F3;
}

.nav-item {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 25px;
    padding-right: 25px;
}

.header-nav-item {

    color: var(--primery-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.header-nav-item:hover,
.header-nav-item:focus {
    color: var(--accent-color);
}





.header-nav-item.current {
    color: var(--accent-color)
}

.header-items {
    margin-left: auto;
}

.header-item {
    padding-top: 32px;
    padding-bottom: 32px;
    /* margin-left: 30px; */

}

.header-items-item {
    color: var(--additional-text-color-1);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header-icon {
    margin-right: 10px;
    fill: #757575;
}

.header-icon:hover {
    fill: var(--accent-color);
}




.header-items-item:hover,
.header-items-item:focus {
    color: var(--accent-color)
}

/* .header-items-item:hover svg,
.header-items-item:focus svg {
    fill: var(--accent-color)
} */

/* hero section */

.hero-section {
    padding-top: 200px;
    padding-bottom: 210px;

    max-width: 1600px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    /* background-color: var(--additional-background-color-2); */

}

.hero-title {
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;

    color: var(--additional-text-color-2);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
}

.hero-btn {
    padding: 10px 32px;
    margin: 0 auto;
    display: block;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    background-color: var(--accent-color);
    color: var(--additional-text-color-2);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}



.hero-btn:hover,
.hero-btn:focus {
    color: var(--accent-color);
    outline: none;
}


/* наші переваги */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}


.section-list {

    display: flex;
}

.advantage {
    display: flex;
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}

.section-list-item {
    margin-right: 30px;
}

.tex-wrap {}


.section-heading {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;

}

.section-text {
    color: var(--additional-text-color-1);
    font-size: 14px;
    line-height: 1.71;
}


/* чим ми займаємося */

.reset {
    padding-top: 0px;
}

.section-title,
.section-title-team,
.title-clients {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

}

.section-title-list {
    display: flex;

}

.title-list {
    display: block;
    margin-right: 30px;
}

.title-list:last-child {
    margin-right: 0px;
}


/* наша команда */

.background-section {
    background-color: var(--additional-background-color-1);
}

/* .section-title-team {

    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
} */

.title-team {
    display: flex;
}


.social-items {
    display: flex;
    justify-content: center;
}

.social-item {

    /* display: flex;
    align-items: center;
    justify-content: center;
 */

}

.social-item:not(:first-child) {
    margin-left: 10px;
}



.social-icon {
    display: flex;
    width: 44px;
    height: 44px;
    background: #FFFFFF;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}

.social-icon:hover {
    border: 1px solid var(--accent-color);
    /* fill: var(--accent-color); */

}

.social-icon:focus {
    border: 1px solid var(--accent-color);
    background-color: var(--accent-color);
    outline: none;
}

.team-icon {
    fill: #AFB1B8;
}

.team-icon:hover {
    fill: var(--accent-color);
}





.team {
    margin-right: 30px;
    display: block;
    background-color: var(--additional-text-color-2);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}

.team:last-child {
    margin-right: 0px;
}

.team-text {
    padding: 30px 10px;
    text-align: center;

}

.section-subject {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

}

.section-text-team {
    color: var(--additional-text-color-1);
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 16px;
}



/* Постійні клієнти section */

.clients {
    display: flex;
}


.clients-link {
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 170px;
    height: 92px;

    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

.clients-icon {
    fill: #AFB1B8;
}

.clients-icon:hover {
    fill: var(--accent-color);
}

.clients-icon:focus {
    fill: var(--accent-color);
}


.clients-link:hover {
    border: 1px solid var(--accent-color);
    fill: var(--accent-color);
}

.clients-link:focus {
    border: 1px solid var(--accent-color);
    fill: var(--accent-color);
    outline: none;
}




/* .title-clients {

    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

} */





/* footer section */
.footer {
    background-color: var(--additional-background-color-2);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {

    margin-bottom: 20px;
    margin-right: 156px;

}


.address {}

.address-item {

    color: var(--additional-text-color-3);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}

.footer-addres {
    margin-bottom: 9px;
}

.footer-messenger,
.list-icon {
    display: flex;
    align-items: baseline;
}


.footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

}

.footer-icon {
    fill: #FFFFFF;
}

.footer-icon:hover {
    fill: var(--accent-color);
}


.footer-link:hover {
    border: 1px solid var(--accent-color);
    /* fill: var(--accent-color); */

}

.footer-link:focus {
    border: 1px solid var(--accent-color);
    background-color: var(--accent-color);
    outline: none;
}


/* .footer-item-icon:hover {
    background: var(--accent-color);
} */


.white {
    color: var(--additional-text-color-2);
}

.address-item:hover,
.address-item:focus {
    color: var(--accent-color);
}

.footer-icon-messenger {}

.footer-text {

    margin-top: 12px;
    margin-bottom: 20px;

    /* margin-right: auto; */

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--additional-text-color-2);
    text-transform: uppercase;
}

.list-icon {
    /* display: flex; */
}


/* portfolio */

/* header */

.header-border {
    border: 1px solid #ECECEC;
}


/* Набір фільтрів */

.list-button {
    display: flex;
    justify-content: center;
    margin-bottom: 56px;
}

.btn-item {
    margin-right: 8px;
}


.button-item {
    display: block;
    padding: 6px 22px;
    border-radius: 4px;
    border: none;
    background-color: var(--additional-background-color-1);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    outline: none;
}

.button-item:hover {
    background-color: var(--accent-color);
    color: #FFFFFF;
    cursor: pointer;
}


.button-item:focus {
    color: var(--additional-text-color-2);
    background-color: var(--accent-color);

}

/* контент */

.list-content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}



.portfolio-item {
    display: block;
}

.portfolio-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item:focus {
    outline: none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.text {
    padding: 20px 24px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}

.content-title {

    color: var(--primery-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.content-text {

    color: var(--additional-text-color-1);

    font-size: 16px;
    line-height: 1.88;


}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}